/* .container {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-color: lightgrey;

  display: grid;

  grid-template-rows: 70px 40px 1fr 50px;
  grid-template-columns: 3fr 1fr;

  grid-template-areas: 
    "page-header page-header"
    "menu menu"
    "content content"
    "page-footer page-footer";

    font-family: 'Roboto', sans-serif;
} */

#page-header {
  grid-area: page-header;
  background-color: white;
  padding: 10px;
  display: flex;
}

#page-header > h1 {
  color:#dfc277;
  font-size: 3rem;
  font-weight: bold;
  width: 95%;
}

#menubar {
  grid-area: menu;
  background-color:#e2a0b6;
  padding-left: 16px;

  display: flex;
  align-items: center;
}

#menubar > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
}

.menuitem {
  margin: 0 4px;
}

.menuitem > a {
  font-weight: bold;
}

#content {
  padding: 10px;
}

#content {
  grid-area: content;
}

#page-footer {
  grid-area: page-footer;

  background-color:#e2a0b6;
  padding: 8px;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 12px;
}

#logo {
  width: 64px;
  height: 64px;
  float: right;
}

#content > header > h1 {
  text-align: center;
  font-size: 25px;
}

#register-button {
  margin: 20px 20px 20px 4px;
}

button {
  padding: 5px;
  color: white;
  border-radius: 4px;
  background-color: #dfc277;
}

#content thead {
  text-align: center;
}

#content tbody {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

#content > tbody > td.checkbox {
  text-align: center;
} 

#content form label {
  padding: 10px;
}

strong {
  font-weight: bold;
}
